body {
    background-color: rgb(2, 48, 1);
    background-image: linear-gradient(to bottom, #251e34, #372990);
    color: white;
    min-height: 100vh;
}

.mainHeader {
    background-color: transparent;
}

.mainFooter {
    background-color: rgba#345528;
}

.cardDocumentaries .card {
    width: 12rem;
    height: auto;
    margin: 1rem;
}

@keyframes lightEffect {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.light-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(183, 176, 176); 
    animation: lightEffect 2s infinite; 
    z-index: 9999;
}

.cardDocumentaries .card {
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    overflow: hidden; /* Oculta el GIF fuera de la tarjeta */
    transition: transform 0.3s ease; /* Suaviza la transformación */
}

.cardDocumentaries .card:hover {
    transform: scale(1.05); /* Escala la tarjeta al pasar el mouse */
}
